<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--几十个实体类-->
        <!-- <typeAlias type="com.tledu.erp.model.User" alias="User"/>-->
        <package name="com.mayuan.pagetest.model"/>
    </typeAliases>
    <mappers>
        <package name="com.mayuan.pagetest.mapper"/>
    </mappers>
</configuration>