<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->



    <!-- 配置对象 -->
    <bean id="book" class="com.mayuan.www.Book"></bean>
    <bean id="mybook" class="com.mayuan.www.MyBook"></bean>
    <!-- 开启AOP操作 -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>


</beans>