<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>


<div class="layui-btn-container"   style="margin-top: 10px;margin-left: 10px;">
    <a href="/user/add" class="layui-btn">新增</a>
</div>
<table class="layui-table">
    <thead>
    <th>编号</th>
    <th>姓名</th>
    <th>年龄</th>
    <th>操作</th>
    </thead>
    <tbody>
        <tr th:each="user:${userList}">
            <td>[[${user.id}]]</td>
            <td>[[${user.name}]]</td>
            <td>[[${user.age}]]</td>
            <td>
                <a th:href="'/user/edit/'+${user.id}" class="layui-btn layui-btn-warm">编辑</a>
                <a th:href="'/user/delete/'+${user.id}"  class="layui-btn layui-btn-danger">删除</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
