<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="selectByPrimaryKey" parameterType="integer" resultType="com.example.demo.entity.User">
        select id,name,password,sex from user where id=#{id}
    </select>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.demo.entity.User">
        insert into user(name,password,sex) values(#{name},#{password},#{sex})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.User">
        update user
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="sex!=null">sex=#{sex}</if>
        </set>
        where 1=1 and id=#{id}
    </update>
</mapper>