<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace 是用于调用的时候的映射
 -->
<mapper namespace="com.mayuan.pagetest.mapper.UserMapper">
    <!--
      id : 表示调用的SQL的名字,相当于方法名
      parameterType : 表示传入参数的类型,写类全名,但是由于设置的别名,所以可以写User
      resultType : 结果集类型
     -->

    <select id="pagerFind" parameterType="Map" resultType="User">
        select * from test limit #{start}, #{end}
    </select>

    <insert id="insert" parameterType="User">
        insert into test (age,test_name,user_addr) values (#{age},#{test_name},#{user_addr})
    </insert>

    <delete id="delete" parameterType="int" >
        delete from test where id = #{id}
    </delete>

    <update id="updateName" parameterType="java.lang.String">
        update test
        set test_name = CONCAT(test_name,'`delete')
        where test_name = #{loginName}
    </update>
</mapper>